.filter-card
{
    padding: 10px;
    width: 300px;
    // width: 100%;
    background-color: var(--pureWhite);
    border-radius: 5px;
    margin-bottom: 10px;
    .title
    {
        padding: 10px ;
        .clear
        {
            float:right;
            color:var(--gray);
            font-size: 12px;
        }
        .clear :hover
        {
            color:var(--red);
        }
    }
    .card-entries
    {
        display: flex;
        gap:10px;
        padding-left:10px;
        flex-wrap: wrap;
    }
}

.details{
    color: var(--red);
}

