.searches
{
    padding:25px 50px;
}
.searches-title
    {
        font-size: 25px;
        font-weight: bold;
        padding: 10px 0px;
    }
.cards
{
    display:flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    
}