.tabs-bar
{
    display: flex;
    // justify-content: space-between;
    font-size: 14px;
    gap:10px;

    .border-none
    {
        padding: 0px 10px;
        color:var(--pureWhite);
        cursor: pointer;
    }
    .rounded-border
    {
        padding: 5px 12px;
        color:var(--red);
        font-size: 14px;
        border:1px solid var(--borderColor);
        border-radius: 15px;
        background-color: var(--pureWhite);
        cursor: pointer;
    }
}