.premiere
{
    padding: 25px 50px;
    background-color: var(--premiereBackGround);
    .logo
    {
        max-width:calc(100vw - 100px);
        width:calc(100vw - 100px);
    }
    .title
    {
        color:var();
        font-size: 24px;
        font-weight: bolder;
        color:var(--pureWhite);
    }
    .desc
    {
        color:var(--pureWhite);
        font-size: 14px;
        padding-bottom: 10px;
    }
    
}
.cards-align
    {
        display: flex;
        justify-content: space-between;

        .card
        {
            max-width:210px;
            width:100%;
            background-color: var(--white);
            border: none;
            border-radius: none;
            .card-image
            {
                max-width:210px;
                max-height: 356px;
                width:100%;
                border-radius: 10px ;
                cursor: pointer;
            }
        }

        .card-details
        {
            .card-title
            {
                font-size: 18px;
                color:var(--black);
                max-width:340px;
                font-weight: 800;
                padding-top: 7px;
                margin: 0px !important; 
            }
            .card-desc
            {
                font-size: 16px;
                color:var(--gray);
            }
        }
    }